*{
    font-family: 'Playfair Display SC', serif;
}
html,body{
    background-color: #E82575;
}
p{
    font-family: 'Courgette', cursive;
}
h2{
    padding: 2rem;
    color: #FFFC3B;
}
footer{
    color: #FFFC3B;
    padding: 2rem;
}
.row{
    padding-bottom: 4rem;
}